<h2>Hangman</h2>
<p id="word"><%= @word %></p>
<p><%= @guessed_word %></p>
<p><%= @remaining_guesses %></p>

<input id="guessed_letter" type = "text" value="hello world"></input>
<button id="send_it">send it</button>