<h2>Hangman</h2>
<p id="word"><%= @word %></p>
<p><%= @guessed_word %></p>
<p><%= @remaining_guesses %></p>

<p>Enter your guess (the first one is free)</p>
<input id="guessed_letter" type = "text" value="<%= @word.split("").shuffle.first %>"></input>
<button id="send_it">send it</button>